{% extends 'base.html' %}

<div class="row">
{% block body %}
  <div>
    <h1>Lista de Tarefas</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Tarefa</th>
          <th>Descrição</th>
          <th>Data Final</th>
          <th>Prioridade</th>
          <th>Categoria</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}      
          <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.final_date }}</td>
            <td>{{ task.get_priority_display }}</td>
            <td>{{ task.category }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock body %}
</div>