{% extends 'base.html' %}

<div class="row">
{% block body %}
  <div>
    <h1>Lista de Categorias</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Categoria</th>
          <th>Descrição</th>
          <thcolspan="2"></th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}      
          <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td><a href="{% url 'tasks:url_category_update' category.id %}" class="btn btn-info">Editar</a></td>
            <td><a href="{% url 'tasks:url_category_delete' category.id %}" class="btn btn-danger">Excluir</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <a href="{% url 'tasks:url_category_insert' %}" class="btn btn-primary" role="button">Adicionar Categoria</a>
{% endblock body %}
</div>